*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.center{
    display: flex;
    flex-wrap: wrap;
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 2%;
}

html,body{
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

header{
    height: 200px;
    position: relative;
    padding: 20px 0;
    min-height: 140px;
}

.logo{
    position: absolute;
    top: 23px;
    left: 1px;
}

.logo img{
    width: 110px;
    display: block;
}

.menu{
    padding-top: 30px;
    margin-left: 70%;
    text-align: right;
}

.menu a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin-right: 15px;
    display: inline-block;
}

section.sobre{
    height: calc(100% - 200px);
    position: relative;
}

.extras{
    position: absolute;
    bottom: -600px;
    right: -500px;
    width: 1200px;
    height: 1200px;
    border-radius: 50%;
    background-color: #017143;
}

.sobre .extras img{
    width: 28%;
    position: absolute;
    margin-left: 100px;
}

.social-media{
    position: absolute;
    display: flex;
    gap: 20px;
    flex-direction: column;
    color: white;
    font-size: 30px;
    right: 510px;
    top: 200px;
    cursor: pointer;
}

.social-media img{
    display: block;
    width: 30px;
    margin-top: 20px 0;
}

.texto-sobre{
    margin-top: 100px;
}

.texto-sobre h1{
    font-size: 60px;
}

.texto-sobre p{
    margin: 30px 0;
    color: black;
    font-size: 15px;
    font-weight: bold;
    max-width: 640px;
    font-family: Arial, Helvetica, sans-serif;
}

.texto-sobre button{
    border: 0;
    background-color: #017143;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    width: 170px;
    height: 30px;
    cursor: pointer;
}